.WeatherForecast {
  color: #67b389;
  padding: 50px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  transition: all 200ms ease;
}

/* .WeatherForecast:hover {
  color: #a9294f;
} */
