*,
*::before,
*::after {
  box-sizing: inherit;
}

.WeatherDisplay canvas {
  position: relative;
  top: 55px;
  left: 300px;
}

.WeatherDisplay {
  border: 10px solid#9A464E;
  border-radius: 75px;
  box-sizing: border-box;
  padding-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("./assets/white-cloud-blue-sky.jpg");
}
.bg-img {
  background-size: 100%;
  background-repeat: no-repeat;
  border: 15px solid #48426d;
  padding: 10em;

  border-radius: 15%;
}
body {
  font-size: 100%;
  font-family: "Tenor Sans", sans-serif;
  padding-top: 30px;
  background: #5c303d;
}
.Weather {
  padding: 50px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: #aae8e0;
  border: 10px solid #e9e488;
  /* border-radius: 75px; */
  box-sizing: border-box;
}

h1,
h2,
p {
  display: block;
  margin: auto;
  text-align: center;
}

.MainCity {
  padding-top: 10px;
  color: #5c303d;
  font-weight: bold;
  position: relative;
  line-height: 60px;
}
h2 {
  color: #c75d4f;
  font-weight: bold;
  position: relative;
  line-height: 60px;
}
.CodedBy {
  padding-top: 30px;
  font-weight: bold;
  font-size: 20px;
  font-family: serif;
  color: #e5e1a6;
}
.MainDescription {
  color: #ff9642;
  font-size: 26px;
  font-weight: 900;
  position: relative;
  text-transform: capitalize;
}
form {
  position: relative;
  top: 30px;
  left: 360px;
}

.btn-btn-success {
  font-weight: 500px;
  color: #fce5c3;
  background-color: #d87067;
  position: relative;
  margin-bottom: 50px;
  margin-left: 10px;
  border-radius: 15px;
  padding: 5px 9px;
  transition: all 200ms ease;
}
.btn-btn-success:hover {
  background-color: #c32d14;
  color: #e5e1a6;
}

.SearchCity {
  border-width: 4px;
  border-radius: 15px;
  border-color: #317d81;
  padding: 5px 9px;
  background-color: white;
}

.hightemp {
  color: #ec7553;
  position: relative;
  font-size: 26px;
  font-weight: bold;
}

.celsiusLink,
.fahrenheitLink {
  color: #307e80;
  font-weight: bold;
  transition: all 200ms ease;
}

.fahrenheitLink:hover,
.celsiusLink:hover {
  color: #a9294f;
  font-size: 20px;
}

.container {
  text-align: center;
  padding-bottom: 100px;
}
